beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
connegp==0.2
Flask==1.1.2
flask-paginate==0.5.5
idna==2.9
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.1
Markdown==3.2.1
MarkupSafe==1.1.1
munch==2.5.0
owlrl==5.2.1
pyldapi==2.1.4
pyparsing==2.4.7
PyYAML==5.3.1
rdflib==4.2.2
rdflib-jsonld==0.4.0
requests==2.23.0
six==1.14.0
soupsieve==2.0
SPARQLWrapper==1.8.5
urllib3==1.25.8
Werkzeug==0.16.0
python-dotenv==0.15.0