.card-register {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    /*transition: 0.3s;*/
    /*background-color: #93c3d4;*/
    background-color: white;
    padding: 1px 1em 0.2em 1em;
    margin-bottom: 20px;
    min-height: 110px !important;
}

.card-register:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    /*background-color: #a5d1e0;*/
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #c6c6c6;
  height: 25px;
  text-align: center;
}

body {
    padding-bottom: 25px;
}

.display-inline {
    display: inline;
}

.tree-action {
    font-size: 12px;
    cursor: pointer;
}

.tree-action:hover {
    text-decoration: underline;
}