<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" href="static/css/bootstrap-grid.min.css">-->
        <!--<link rel="stylesheet" href="static/css/bootstrap-reboot.min.css">-->
        <!--<link rel="stylesheet" href="static/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="static/qg-main.css">
        <!--[if (lt IE 9)|(gt IE 10) ]><link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css" /><![endif]-->
        <!--[if !IE]><!--><link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css" /><!--<![endif]-->
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->


        <title>{{ title }}</title>
    </head>

    <body>
        <div class="container-fluid qg-site-width">
            <header id="qg-site-header"><div class="qg-coat-of-arms col-xs-6 col-md-4">
                <a href="https://www.qld.gov.au" tabindex="0">
                    <img src="https://www.qld.gov.au/_qgdesigns/css/qg-main.css/qg-coa.svg" alt="Queensland Government" class="hidden-xs hidden-sm">
                    <img src="https://www.qld.gov.au/__data/assets/file/0006/321/qg-coa-stacked.svg" alt="" class="hidden-md hidden-lg">
                </a>
                </div><ul class="qg-utilities list-inline col-xs-6 col-md-8">

                    <li>
                        <a accesskey="4" href="https://www.qld.gov.au/contact-us"><span class="fa fa-phone fa-2x hidden-md hidden-lg" aria-hidden="true"></span><span class="hidden-xs hidden-sm">Contact us</span></a>
                    </li>

                    <li class="hidden-md hidden-lg">
                        <button title="search" id="qg-show-search" data-toggle="collapse" data-target="#qg-search-form"><span class="fa fa-search fa-2x" aria-hidden="true"></span></button>
                    </li>
                    <li class="hidden-md hidden-lg">
                        <button title="menu" id="qg-show-menu" data-toggle="collapse" data-target="#qg-site-nav, #qg-breadcrumb"><span class="fa fa-bars fa-2x" aria-hidden="true"></span></button>
                    </li>
                </ul>
                <nav id="qg-site-nav" role="navigation" aria-label="Main navigation" class="collapse">
                    <ul>
                        <li><a href="https://www.qld.gov.au/queenslanders">For Queenslanders</a></li>
                        <li><a href="https://www.business.qld.gov.au/">Business and industry</a></li>
                        <li><a href="https://www.forgov.qld.gov.au/">Government employees</a></li>
                    </ul>
                </nav>
            </header>

            {% block content %}{% endblock %}
        </div>
    </body>

    <!--<link rel="stylesheet" href="static/js/jquery-3.4.0.min.js">-->
    <script
      src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
      crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="static/js/bootstrap.bundle.min.js">-->
    <!--<link rel="stylesheet" href="static/js/bootstrap.min.js">-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--Bootstrap 4 popover-->
<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover({html: true});
});
</script>
</html>