{% extends "base.html" %}

{% from "macros/popover.html" import popover_uri with context %}
{% from "macros/render.html" import render_instance_uri with context %}

{% block content %}

    <h1>AusPlots Rangelands Vocabularies</h1>
    <p><em>A Linked Data API for vocabularies encoded in <a href="https://www.w3.org/TR/skos-reference/">SKOS</a>.</em></p>

    <h2>Registers</h2>
    <ul>
        <li><a href="{{ config.url_root }}vocabulary/">Vocabulary register</a></li>
        <li><a href="{{ config.url_root }}concept/">Concept register</a></li>
    </ul>

    <h2>Download</h2>
    <p>The entire data in this system is available for download in a serialised RDF format.</p>
    <ul>
        <li><a href="{{ url_for('routes.download') }}">Download in Turtle</a></li>
        <li><a href="{{ url_for('routes.download', format='json-ld') }}">Download in JSON-LD</a></li>
        <li><a href="{{ url_for('routes.download', format='xml') }}">Download in RDF+XML</a></li>
        <li><a href="{{ url_for('routes.download', format='nt') }}">Download in N-Triples</a></li>
        <li><a href="{{ url_for('routes.download', format='n3') }}">Download in Notation3</a></li>
    </ul>

    <p>Supported by: <a href="https://www.education.gov.au/national-collaborative-research-infrastructure-strategy-ncris"><img style="padding-bottom: 50px; padding-top: 20px; padding-left: 20px;" src="https://www.tern.org.au/rs/7/sites/998/custom_files/tpl_images/NCRIS-PROVIDER-2.png"></a></p>

{% endblock %}