{% extends "base.html" %}

{% from "macros/popover.html" import popover_uri with context %}
{% from "macros/render.html" import render_instance_uri with context %}

{% block content %}
    <h1>Queensland Herbarium</h1>

    <p>The Queensland Herbarium is the centre for science, research and information on Queensland’s ecosystems and species of plants, fungi, algae and animals.</p>

    <p>The Queensland Herbarium building at Toowong houses the state’s <a href="https://www.qld.gov.au/environment/plants-animals/plants/herbarium/specimens">plant specimen collection</a> of more than 850,000 specimens, representing Queensland’s <a href="https://www.qld.gov.au/environment/plants-animals/plants/native-plants">native and naturalised&nbsp;plant species</a> and 150 years of <a href="https://www.qld.gov.au/environment/plants-animals/plants/new-plants">species discovery</a>. Botanists and members of the public continue to contribute thousands of specimens to the Herbarium collection each year, identifying new species and adding new distribution records.</p>

    <p>Queensland’s ecosystems have been surveyed, mapped and classified into 1386 <a href="https://www.qld.gov.au/environment/plants-animals/plants/ecosystems">regional ecosystems</a> across the state, and are the subject of <a href="https://www.qld.gov.au/environment/plants-animals/plants/herbarium/conservation-research">ecological research</a>, condition assessment and monitoring.</p>

    <p>The Herbarium’s research provides the essential information needed for the conservation assessment and management of Queensland’s species and ecosystems and helps us to better understand ecological processes and the services provided by ecosystems and wildlife.</p>

    <h1>Queensland CORVEG Database</h1>

    <p>Study locations across Queensland have been visited since 1982 to collect data on physical and vegetation features, including structural and floristic attributes well as descriptions of its landscape, soil and geologic features. The resulting site database provides a comprehensive record of areas ground-truthed during the regional ecosystems mapping process and a basis for future updating of mapping or other relevant work such as species modelling. The CORVEG study locations are primarily used for ground-truthing and validating of Regional Ecosystems (RE) mapping, and describing and classifying vegetation mapping units. Only validated CORVEG data is made publicly available and all records of confidential taxa have been masked from the dataset.</p>

    <p>This website presents the <strong>controlled vocabularies</strong> of the <a href="https://data.qld.gov.au/dataset/queensland-corveg-database">Queensland CORVEG database</a> in human-readable form (HTML) as well as <a href="https://en.wikipedia.org/wiki/Linked_data">Linked Data</a>.</p>

    <h2>Registers</h2>
    <ul>
        <li><a href="{{ config.url_root }}vocabulary/">Vocabulary register</a></li>
        <li><a href="{{ config.url_root }}concept/">Concept register</a></li>
    </ul>
{% endblock %}