{% extends "base.html" %}

{% from "macros/popover.html" import popover_uri with context %}
{% from "macros/render.html" import render_instance_uri with context %}

{% block content %}
    <h1>Queensland CORVEG Database</h1>

    <p>Study locations across Queensland have been visited since 1982 to collect data on physical and vegetation features, including structural and floristic attributes well as descriptions of its landscape, soil and geologic features. The resulting site database provides a comprehensive record of areas ground-truthed during the regional ecosystems mapping process and a basis for future updating of mapping or other relevant work such as species modelling. The CORVEG study locations are primarily used for ground-truthing and validating of Regional Ecosystems (RE) mapping, and describing and classifying vegetation mapping units. Only validated CORVEG data is made publicly available and all records of confidential taxa have been masked from the dataset.</p>

    <h1>CORVEG Database Vocabularies</h1>
    <p>This website presents the <strong>controlled vocabularies</strong> of the <a href="https://data.qld.gov.au/dataset/queensland-corveg-database">Queensland CORVEG database</a> in human-readable form (HTML) as well as <a href="https://en.wikipedia.org/wiki/Linked_data">Linked Data</a>.</p>

    <p><em>This is an experimental website created by <a href="https://www.tern.org.au/">TERN</a>'s Data Services and Analytics team in partnership with the <a href="https://www.des.qld.gov.au/">Department of Environment and Science</a>.</em></p>

    <h2>Registers</h2>
    <ul>
        <li><a href="{{ config.url_root }}vocabulary/">Vocabulary register</a></li>
        <li><a href="{{ config.url_root }}concept/">Concept register</a></li>
    </ul>

    <h2>Featured vocabularies</h2>
    <ul>
        <li><a href="{{ request.url_root }}id/http://linked.data.gov.au/def/corveg-cv/op">Observable properties</a></li>
    </ul>
{% endblock %}