{% extends "base.html" %}

{% from "macros/popover.html" import popover_uri with context %}
{% from "macros/render.html" import render_instance_uri with context %}

{% block content %}
    {{ popover_uri(title, 'URI', class_type, 'h2') }}

    {% if description %}
        <p>{{ description }}</p>
    {% endif %}

    <p>Alternate views of this register are available <a href="?_view=alternates">here</a></p>

    <form style="max-width: 255px;" action="{{ request.base_url }}" method="get">
        <div class="form-group">
            <label for="search">Search for {{ title }}</label>
            <input type="text" name="search" class="form-control" id="search" aria-describedby="search-help" placeholder="Search register" autofocus>
            <small id="search-help" class="form-text text-muted" hidden>Search for items in this register.</small>
        </div>
    </form>

    {% if search_query %}
        <p>Results for <em>"{{ search_query }}"</em></p>
    {% endif %}

    {% if items|length == 0 %}
        <strong>No results found.</strong>
    {% endif %}

    <ul>
        {% for cc in items %}
            <li>
                {{ render_instance_uri(cc[0], cc[1]) }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}